:root{
    --primary-color: #FFDAFE;
    --hover-color:#ffe7fe;
}

.btn{
    background: none;
    border: none;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
}

.btn:hover{
    background-color: #ffe7fe;
}